div {
  width: 80%;
  @media (min-width: 300px)  and (max-width: 992px)  {
    width: 100%;
  }
}

div h3 {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 30px;
  color: #bc6c25;
  @media (min-width: 300px)  and (max-width: 992px){
    font-size: 20px;
    padding-left: 10px;
  }
}

table {
  padding-left: 30px;
  color: #41362d;
  @media (min-width: 300px)  and (max-width: 992px){
 
    padding-left: 10px;
  }
}

th,
td {
   padding-left: 45px;
  text-align: left;
}

th {
    color: #41362d;
}

td {
  font-size: 15px;
}
